/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v13/DgBpgaYycijFA8v2hNt7MfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v13/peRd8sj511qE2lHtK-QfcPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v13/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v13/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(89, 85, 76, 1);
  border-width: 1px;
  border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(143, 135, 117, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #8f8775;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #8f8775;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #8f8775;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #59554c;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  border-radius: 0 !important;
  margin-bottom: 0px;
  border: none !important;
  position: fixed;
  width: 100%;
  z-index:1000;
}

.nav-bottom-margin {
  height: 50px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  margin-top: 40px;
  padding: 25px;
  line-height: 1.6;
}

/*
 *
 *    Main page
 *
 */
#main .jumbotron {
  margin-bottom: 50px;
  padding: 150px 0px;
  background: url("../images/main-background.jpg");
  -webkit-background-size:cover;
  background-size:cover;
  color:#FFF;
  text-shadow: 0px 0px 20px #333333;
}

#main .main-title {
  font-family: Oswald;
}

#main .post-book-button {
  margin-top: 10px;
  font-size: 150%;
  font-weight: bold;
  padding:15px 25px;
  box-shadow: 0px 0px 15px #333;
  word-break: break-all;
  white-space: normal;
}

#main .panel {
  box-shadow: 3px 3px 3px #AAA;
}

#main .panel-heading {
  font-weight: bold;
}

#main .book-item .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

#main .book-item .panel-body img {
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

#main .book-item .panel-body img:hover {
  opacity: 0.5;
}

#main .search-bar {
  margin-bottom:30px;
}

#main .no-books-message span {
  font-size:300%;
}

#main .no-books-message {
  padding:10px;
  text-align: center;
  font-size:200%;
}

#main .no-books-message a {
  cursor: pointer;
}

#main #custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 3px 3px 3px #AAA;
}

#main #custom-search-input input{
  border: 0;
  box-shadow: none;
}

#main #custom-search-input a{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#main #custom-search-input a:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#main #custom-search-input .glyphicon-search{
  font-size: 23px;
}

/*
 *
 *    Book details page
 *
 */
#book-details .book-image {
  width: 100%;
  margin-bottom: 20px;
}

#book-details .price-tag {
  margin-bottom: 35px;
}

#book-details .price-tag .label {
  font-size:200%;
  line-height: inherit;
}

#book-details .price-tag .add-cart-btn {
  font-size:150%;
}

#book-details .book-description {
  font-size:120%;
  margin-bottom: 20px;
}

#book-details .details-list {
  line-height: 200%;
}

#book-details .comment-item {
  margin-bottom: 10px;
}

#book-details .no-comment-message span {
  font-size:200%;
}

#book-details .no-comment-message {
  padding:50px;
  text-align: center;
  font-size:150%;
}

#book-details .comment-content {
  white-space: pre-line;
}

/*
 *
 *    Shopping Cart page
 *
 */
#shopping-cart .cart-item .book-image {
  padding:10px;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

#shopping-cart .cart-item .book-image:hover {
  opacity: 0.5;
}

#shopping-cart .cart-item .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

#shopping-cart .cart-item .seller,
#shopping-cart .cart-item .price,
#shopping-cart .cart-item .actions,
#shopping-cart .total,
#shopping-cart .checkout
{
  padding-top: 13px;
}

#shopping-cart .no-books-message span {
  font-size:300%;
}

#shopping-cart .no-books-message {
  padding:10px;
  text-align: center;
  font-size:200%;
}
