<div class="container" id="book-details">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{bookData.title}}
        <small>By {{bookData.author}}</small>
      </h1>
    </div>
  </div>

  <div class="row book-content">
    <div class="col-md-4">
      <img class="book-image img-responsive" ng-src="{{bookData.image}}" alt="">
    </div>

    <div class="col-md-8">

      <div class="price-tag clearfix">
        <span class="label label-info">USD ${{bookData.price}}</span>
        <a ng-click="addToCart()" class="btn btn-success pull-right add-cart-btn">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
      </div>

      <h2>Book Description</h2>
      <p class="book-description">{{bookData.description}}</p>
      <h2>Book and Seller Details</h2>
      <ul class="details-list">
        <li><strong>Author:</strong> {{bookData.author}}</li>
        <li><strong>ISBN Number:</strong> {{bookData.isbn}}</li>
        <li><strong>Selling price:</strong> USD ${{bookData.price}}</li>
        <li><strong>Seller name:</strong> {{bookData.seller}}</li>
        <li><strong>Seller message and contact:</strong> {{bookData.sellerContact}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Comments and Questions from Different Users</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="no-comment-message" ng-if="bookData.comments.length <= 0">
        <span class="glyphicon glyphicon-comment"></span><br>
        No comments have been posted. Be the first one to give comments!
      </div>

      <div ng-if="bookData.comments.length > 0">
        <div class="row comment-item" ng-repeat="comment in bookData.comments">
          <div class="col-sm-2 text-center">
            <img src="images/user.png" height="65" width="65" alt="Avatar">
          </div>

          <div class="col-sm-10">
            <h4>{{comment.commenter}}</h4>
            <p class="comment-content">{{comment.content}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row" id="post-comment-section">
    <div class="col-lg-12">
      <h3 class="page-header">Leave Your Comment or Question</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <form class="form-horizontal" ng-submit="postNewComment()" name="newCommentForm" novalidate>
        <div class="form-group">
          <label for="commenter" class="col-sm-2 control-label">Your name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="commenter" placeholder="Your name here"
                   ng-model="newCommentData.commenter">
          </div>
        </div>

        <div class="form-group">
          <label for="content" class="col-sm-2 control-label">Comment content</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="content" rows="6"
                      ng-model="newCommentData.content"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Post your comment!</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>

<modal title="Success" data-visible="showAddToCartModal">
  <p>The book has been added to your shopping cart. You may proceed to checkout by clicking the button at the top-right corner.</p>
</modal>

<modal title="Comment has been added" data-visible="showAddedCommentModal">
  <p>You comment has been posted on the wall. Thank you for your participation and remember to come back and check out people's reply!</p>
</modal>
