<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="page-header">
        <h1>Post your used book for sales!</h1>
      </div>

      <form class="form-horizontal" ng-submit="createNewBook()" name="newBookForm" novalidate>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Your book's title"
                   ng-model="formInput.title">
          </div>
        </div>

        <div class="form-group">
          <label for="author" class="col-sm-2 control-label">Author</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="author" placeholder="List of authors"
                   ng-model="formInput.author">
          </div>
        </div>

        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description" rows="6"
                      ng-model="formInput.description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="image" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            <input type="file" id="image"
                   onchange="angular.element(this).scope().onImageFileSelectionChanged(this)">
          </div>
        </div>

        <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="price" placeholder="Input a decimal number here"
                   ng-model="formInput.price">
          </div>
        </div>

        <div class="form-group">
          <label for="isbn" class="col-sm-2 control-label">ISBN</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="isbn" placeholder="The numbers under the barcode of your book"
                   ng-model="formInput.isbn">
          </div>
        </div>

        <div class="form-group">
          <label for="seller" class="col-sm-2 control-label">Your name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="seller" placeholder="How should I call you?"
                   ng-model="formInput.seller">
          </div>
        </div>

        <div class="form-group">
          <label for="sellerContact" class="col-sm-2 control-label">Your contact</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="sellerContact" rows="2" placeholder="Please leave a message for the buyers to contact you"
                      ng-model="formInput.sellerContact"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Post your book!</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<modal title="Thank you for your posting!" data-visible="showCreatedBookModal">
  <p>Thank you! You have just posted your book for sales! Click the cross button and go back to check out other books on the marketplace!</p>
</modal>

