<nav id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Used Book Marketplace</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app">Home</a></li>
        <li><a ui-sref="app.bookcreate">Post Your Book</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="app.shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-bottom-margin"></div>
