<div id="main">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="main-title">Used Book Marketplace</h1>
      <p>Purchase, sell and explore old books read by other readers with affordable prices!</p>
      <a ui-sref="app.bookcreate" class="btn btn-warning post-book-button">Post your old book for sales now!</a>
    </div>
  </div>

  <div class="container">

    <div class="row search-bar">
      <div class="col-sm-12">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search by book title here"
                   ng-model="searchBarTitleInput" />
            <span class="input-group-btn">
                        <a class="btn btn-info btn-lg" type="button" ng-click="searchByTitle()">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="books.length <= 0">
      <div class="col-sm-12">
        <div class="no-books-message">
          <span class="glyphicon glyphicon-book"></span><br>
          Books not found. Search for another title or <a ng-click="showAllBooks()">check out all the books</a>!
        </div>
      </div>
    </div>

    <div class="row" ng-if="books.length > 0">
      <div class="col-sm-4 book-item" ng-repeat="book in books">
        <div class="panel panel-default">
          <div class="panel-heading">{{book.title}}</div>
          <div class="panel-body">
            <a ui-sref="app.bookdetails({id: book._id})">
              <img ng-src="{{book.image}}" class="img-responsive" style="height:300px; margin:0px auto" alt="Image">
            </a>
          </div>
          <div class="panel-footer">
            <div class="description">
              {{book.description}}
            </div>
            <div class="clearfix" style="margin-top: 10px;">
              <div class="btn-group pull-right">
                <a ui-sref="app.bookdetails({id: book._id})" class="btn btn-primary">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Details
                </a>
                <a ng-click="addToCart(book._id)" type="button" class="btn btn-success">
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
                </a>
                <a ui-sref="app.bookdetails({id: book._id})" type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ask!
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<modal title="Success" data-visible="showAddToCartModal">
  <p>The book has been added to your shopping cart. You may proceed to checkout by clicking the button at the top-right corner.</p>
</modal>
