<div class="container" id="shopping-cart">
  <div class="row">
    <div class="col-sm-12">

      <div class="page-header">
        <h1>Your shopping cart</h1>
      </div>

      <div class="no-books-message" ng-if="shoppingCartBooks.length <= 0">
        <span class="glyphicon glyphicon-heart-empty"></span><br>
        You do not have any books in the shopping cart. <a ui-sref="app">Go out</a> and look for books and add them here!
      </div>

      <table id="cart" class="table table-hover table-condensed" ng-if="shoppingCartBooks.length > 0">
        <thead>
          <tr>
            <th style="width:60%">Book</th>
            <th style="width:15%">Seller</th>
            <th style="width:15%">Price</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>

          <tr class="cart-item" ng-repeat="book in shoppingCartBooks">
            <td>
              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <a ui-sref="app.bookdetails({id: book._id})">
                    <img ng-src="{{book.image}}" class="book-image img-responsive"/>
                  </a>
                </div>
                <div class="col-sm-8 col-xs-12">
                  <h4 class="nomargin"><a ui-sref="app.bookdetails({id: book._id})">{{book.title}}</a></h4>
                  <p class="description hidden-xs">{{book.description}}</p>
                </div>
              </div>
            </td>
            <td class="seller">{{book.seller}}</td>
            <td class="price">USD ${{book.price}}</td>
            <td class="actions">
              <a ng-click="removeBook(book._id)" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </a>
            </td>
          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td class="total"><strong>Total USD ${{totalPrice}}</strong></td>
            <td class="checkout"><a ng-click="displayCheckoutModal()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Checkout</a></td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>

<modal title="Under construction..." data-visible="showCheckoutModal">
  <p>This feature is not available at this moment. Please stay tuned! (Checking out with e-payment system is out of the scope of this capstone project)</p>
</modal>
